#create-post {
    z-index: 1001;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    bottom: 0;
    top: 60px;
    background: white;
    text-align: center;
    display: none;
    transform: translateY(100vh);
    transition: transform 0.3s;
    padding: 20px;
}

#create-post video, #create-post canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}

#create-post #image-pick {
  display: none;
}

#create-post #capture-btn {
  margin: 10px auto;
}

.mdl-spinner {
  margin: auto;
}

.main-image {
    max-width: 100%;
    margin: auto;
    display: block;
}

.floating button {
    display: flex;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 0;
}

.input-selection {
    display: block;
    margin: 10px auto;
}



.shared-moment-card.mdl-card {
    margin: 10px auto;
    /*width: 270px;*/
    width: 80%;
  }
  
  @media (min-width: 600px) {
    .shared-moment-card.mdl-card {
      width: 60%;
      
    }
  }
  
  @media (min-width: 1000px) {
    .shared-moment-card.mdl-card {
      width: 45%;
    }
  }
  
  .shared-moment-card .mdl-card__title {
    height: 140px;
  }
  
  @media (min-height: 700px) {
    .shared-moment-card .mdl-card__title {
      height: 160px;
    }
  }
  
  @media (min-height: 1000px) {
    .shared-moment-card .mdl-card__title {
      height: 200px;
    }
  }


.mdl-button--fab.mdl-button--colored {
    background-color: blue;
}

.mdl-button.mdl-button--colored {
    background-color: blue;
}

.mdl-button--raised.mdl-button--colored {
    background-color: blue;
}

.mdl-color--accent {
    background-color: blue !important;
}

.mdl-layout__header-row {
    background-color: #009933;
}

.mdl-layout__drawer-button {
    background-color: #009933 !important;
}

.page-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.mdl-card__title .mdl-card__title-text {
    visibility: hidden;
}

.mdl-card__title:hover .mdl-card__title-text {
    visibility: visible;
    
}

